<script type="text/javascript">
$(document).ready(function(){
    $('.back, .next').click(function(){
        call_log_page($(this).attr('link'));
    });
});
</script>

<span class="page_log">
    {% if current_page.has_previous %}
        <span style="margin:0;font-weight:bold;font-size:14px;" class="page_log back" link="{{current_page.previous_page_number}}"><</span>
    {% else %}
    {% endif %}
    <span style="margin:0;color:#555;font-style:italic;">Page <b style="font-style:none;">{{current_page.number}}</b> of <b style="font-style:none;">{{current_page.paginator.num_pages}}</b></span>
    {% if current_page.has_next %}
        <span style="margin:0;font-weight:bold;font-size:14px;" class="page_log next" link="{{current_page.next_page_number}}">></span> 
    {% else %}
    {% endif %}
</span>                
                <table>
                <th width="200">Waktu</th>
                <th>Service Berjalan</th>
                {% for i in server_info_log %}
                    <tr valign="top">
                        <td>
                        {{i.timestamp}}
                        </td>
                        <td align="left">
                        <ul>
                        {% for x in i.listen %}
                           <li>{{x.port}}: {{x.name}}</li>
                        {% endfor %}
                        {% if not i.listen %}
                        Semua Service Mati
                        {% endif %}
                        </ul>
                        </td>
                    </tr>
                {% endfor %}
                </table>

