{% extends "index.html" %}

{% block body %}
<style>
.page_log {cursor:pointer;}
#genericchart1, #genericchart2, #genericchart3, #genericchart4 {width:450px;height:250px;}
.datepick {width:164px;margin:0 auto;}
.datepick-month-header {height:20px;}
select.datepick-month-year {padding:0px;}
table {text-align:center;margin:0 auto;}
table tr td {border:1px solid #ccc;}
</style>
<script type="text/javascript">
// function untuk menambah variabel get pada url (dibutuhkan ketika pagination)
function insertParam(key, value) {
    key = escape(key); value = escape(value);
    var kvp = document.location.search.substr(1).split('&');
    var i=kvp.length; var x; while(i--) {
        x = kvp[i].split('=');
        if (x[0]==key) {
            x[1] = value;
            kvp[i] = x.join('=');
            break;
        }
    }
    if(i<0) {
        kvp[kvp.length] = [key,value].join('=');
    }
    document.location.search = kvp.join('&'); 
}

// ajax function untuk meminta data status server
function call_log() {
    $.ajax({
        type:"POST",
        cache:false,
        url:"{% url info_detail %}?server={{server.key}}",
        data: {'ajax':'true'},
        beforeSend: function(){
            $('.ajax_table').fadeTo('slow', 0);        
        },
        success: function(resp){
            $('.ajax_table').fadeTo('slow', 1);
            $('.ajax_table').html(resp);
        }
    });
}

// ajax function untuk meminta data status server ketika pagination
function call_log_page(page) {
    $.ajax({
        type:"POST",
        cache:false,
        url:"{% url info_detail %}?server={{server.key}}&page="+page,
        data: {'ajax':'true'},
        beforeSend: function(){
            $('.ajax_table').fadeTo('slow', 0);        
        },
        success: function(resp){
            $('.ajax_table').fadeTo('slow', 1);
            $('.ajax_table').html(resp);
        }
    });
}

// function untuk pemformatan tanggal
function formatDate(date) {
    var d = new Date(date);
    var hh = d.getHours();
    var m = d.getMinutes();
    var s = d.getSeconds();
    var dd = "AM";
    var h = hh;
    if (h >= 12) {
        h = hh-12;
        dd = "PM";
    }
    if (h == 0) {
        h = 12;
    }
    m = m<10?"0"+m:m;

    s = s<10?"0"+s:s;

    /* if you want 2 digit hours:
    h = h<10?"0"+h:h; */

    var pattern = new RegExp("0?"+hh+":"+m+":"+s);

    var repalcement = h+":"+m;
    /* if you want to add seconds
    repalcement += ":"+s;  */
    repalcement += " "+dd;    

    return date.replace(pattern,repalcement);
}
$(document).ready(function(){
    call_log(); // ketika dokumen siap panggil fungsi update tabel ajax
    
    // event ketika selector .calendar di klik panggil datepick (show calendar)
    $(".calendar").datepick({
        showOnFocus: false, 
        showTrigger: "<div class='trigger'></div>",
        dateFormat: "yyyy-mm-dd",
        showAnim: "fadeIn",
        defaultDate: "{{timestamp|date:'Y-m-d'}}",
        onSelect: function(dates) {
           var array_date = String(dates).split(" ");
           var real_date = array_date.slice(0,5).join(" ");
           var d = new Date(real_date);
           if (d == 'NaN') {
               var real_date = array_date[0]+' '+array_date[1]+' '+array_date[2]+' '+array_date[5]+' '+array_date[3];
               var d = new Date(real_date);
           }
           var day = d.getDate();
           var month = d.getMonth();
           var year = d.getFullYear();
           month = Number(month)+1;
           insertParam('date', +year+'-'+month+'-'+day);
        },
        onShow: function(picker, inst) { 
            var get_epoch = new Date({{timestamp.year}}, {{timestamp.month}}-1, {{timestamp.day}}, 12, 00);
            var sel = get_epoch.getTime();
//            $("tr td a.dp"+sel).attr("class", "dp"+sel+" datepick-select");
            $("a.datepick-cmd.datepick-cmd-today").click(function(){
                var real_date = new Date();
                var real_month = real_date.getMonth()+1;
                insertParam('date', +year+'-'+month+'-'+day);
            });
        } 
    });

    chart1 = new Highcharts.Chart({
        chart: {
            renderTo: 'genericchart1',
            zoomType: 'x',
            spacingRight: 20
        },
        title: {
            text: "Memory & Virtual Memory ({{timestamp|date:'d M Y'}})"
        },
        subtitle: {
            text: document.ontouchstart === undefined ?
                 'Click and drag in the plot area to zoom in' :
                 'Drag your finger over the plot to zoom in'
        },
        xAxis: {
            type: 'datetime',
//            tickInterval: 60 * 1000,
            title: {text: 'Menit'}
        },
        yAxis: {
            title: {text: 'Persentase Penggunaan Memory'},
            min: 0.0,
            startOnTick: false,
            showFirstLabel: false
        },
        tooltip: {
            formatter: function() {
                var date = new Date(this.x);
                var month = date.getUTCMonth();
                var monthNames = ["Jan", "Feb", "Mar", "Apr", "Mei", "Jun", "Jul", "Agu", "Sep", "Okt", "Nov", "Des"]; 
                var weekday = ["Minggu", "Senin", "Selasa", "Rabu", "Kamis", "Jumat", "Sabtu"];
				    return weekday[date.getDay()]+' '+monthNames[month]+' '+date.getUTCDate()+' '+date.getUTCFullYear()+': '+this.y+' %';
                }							
        },
        plotOptions: {
            area: {
                fillColor: {
                    linearGradient: [0, 0, 0, 10],
                    stops: [
                               [0, Highcharts.getOptions().colors[0]],
                               [1, 'rgba(0,0,0,0)']
                           ]
                },
                lineWidth: 1,
                marker: {
                    enabled: false,
                    states: {
                        hover: {
                            enabled: true,
                            radius: 5
                        }
                    }
                },
                shadow: true,
                states: {
                     hover: {
                         lineWidth: 1						
                     }
                }
            }
        },		
        series: [{
            type: 'area',
            name: 'Penggunaan Memory (%)',
            color: '#F50',
            pointInterval: 60 * 1000,
            data: [{% for i in server_info %}{x: Date.UTC({{i.timestamp.year}}, {{i.timestamp.month}}-1, {{i.timestamp.day}}, {{i.timestamp.hour}}, {{i.timestamp.minute}}, {{i.timestamp.second}}), y: {{i.memory}} }{% if not forloop.last %},{% endif %}{% endfor %}]
        },{
            type: 'area',
            name: 'Pengunaan Virtual Memory (%)',
            color: '#5F0',
            pointInterval: 60 * 1000,
            data: [{% for i in server_info %}{x: Date.UTC({{i.timestamp.year}}, {{i.timestamp.month}}-1, {{i.timestamp.day}}, {{i.timestamp.hour}}, {{i.timestamp.minute}}, {{i.timestamp.second}}), y: {{i.virtual_memory}} }{% if not forloop.last %},{% endif %}{% endfor %}]
        }],

    });


    chart2 = new Highcharts.Chart({
        chart: {
            renderTo: 'genericchart2',
            zoomType: 'x',
            spacingRight: 20
        },
        title: {
            text: "HDD ({{timestamp|date:'d M Y'}})"
        },
        subtitle: {
            text: document.ontouchstart === undefined ?
                 'Click and drag in the plot area to zoom in' :
                 'Drag your finger over the plot to zoom in'
        },
        xAxis: {
            type: 'datetime',
//            tickInterval: 60 * 1000,
            title: {text: 'Menit'}
        },
        yAxis: {
            title: {text: 'Persentase Penggunaan HDD'},
            min: 0.0,
            startOnTick: false,
            showFirstLabel: false
        },
        tooltip: {
            formatter: function() {
                var date = new Date(this.x);
                var month = date.getUTCMonth();
                var monthNames = ["Jan", "Feb", "Mar", "Apr", "Mei", "Jun", "Jul", "Agu", "Sep", "Okt", "Nov", "Des"]; 
                var weekday = ["Minggu", "Senin", "Selasa", "Rabu", "Kamis", "Jumat", "Sabtu"];
				    return weekday[date.getDay()]+' '+monthNames[month]+' '+date.getUTCDate()+' '+date.getUTCFullYear()+': '+this.y+' %';
                }			
        },
        plotOptions: {
            area: {
                fillColor: {
                    linearGradient: [0, 0, 0, 10],
                    stops: [
                               [0, Highcharts.getOptions().colors[0]],
                               [1, 'rgba(0,0,0,0)']
                           ]
                },
                lineWidth: 1,
                marker: {
                    enabled: false,
                    states: {
                        hover: {
                            enabled: true,
                            radius: 5
                        }
                    }
                },
                shadow: true,
                states: {
                     hover: {
                         lineWidth: 1						
                     }
                }
            }
        },		
        series: [{
            type: 'area',
            name: 'Penggunaan HDD (%)',
            color: '#0FF',
            pointInterval: 60 * 1000,
            data: [{% for i in server_info %}{x: Date.UTC({{i.timestamp.year}}, {{i.timestamp.month}}-1, {{i.timestamp.day}}, {{i.timestamp.hour}}, {{i.timestamp.minute}}, {{i.timestamp.second}}), y: {{i.hdd}} }{% if not forloop.last %},{% endif %}{% endfor %}]
        }],

    });

    chart3 = new Highcharts.Chart({
        chart: {
            renderTo: 'genericchart3',
            zoomType: 'x',
            spacingRight: 20
        },
        title: {
            text: "CPU ({{timestamp|date:'d M Y'}})"
        },
        subtitle: {
            text: document.ontouchstart === undefined ?
                 'Click and drag in the plot area to zoom in' :
                 'Drag your finger over the plot to zoom in'
        },
        xAxis: {
            type: 'datetime',
//            tickInterval: 60 * 1000,
            title: {text: 'Menit'}
        },
        yAxis: {
            title: {text: 'Persentase Penggunaan CPU'},
            min: 0.0,
            startOnTick: false,
            showFirstLabel: false
        },
        tooltip: {
            formatter: function() {
                var date = new Date(this.x);
                var month = date.getUTCMonth();
                var monthNames = ["Jan", "Feb", "Mar", "Apr", "Mei", "Jun", "Jul", "Agu", "Sep", "Okt", "Nov", "Des"]; 
                var weekday = ["Minggu", "Senin", "Selasa", "Rabu", "Kamis", "Jumat", "Sabtu"];
				    return weekday[date.getDay()]+' '+monthNames[month]+' '+date.getUTCDate()+' '+date.getUTCFullYear()+': '+this.y+' %';
                }			
				
        },
        plotOptions: {
            area: {
                fillColor: {
                    linearGradient: [0, 0, 0, 10],
                    stops: [
                               [0, Highcharts.getOptions().colors[0]],
                               [1, 'rgba(0,0,0,0)']
                           ]
                },
                lineWidth: 1,
                marker: {
                    enabled: false,
                    states: {
                        hover: {
                            enabled: true,
                            radius: 5
                        }
                    }
                },
                shadow: true,
                states: {
                     hover: {
                         lineWidth: 1						
                     }
                }
            }
        },		
        series: [{
            type: 'area',
            name: 'Penggunaan CPU (%)',
            color: '#00F',
            pointInterval: 60 * 1000,
            data: [{% for x in server_info %}{x: Date.UTC({{x.timestamp.year}}, {{x.timestamp.month}}-1, {{x.timestamp.day}}, {{x.timestamp.hour}}, {{x.timestamp.minute}}, {{x.timestamp.second}}), y: {{x.cpu}} }{% if not forloop.last %},{% endif %}{% endfor %}]
        }],

    });


    chart4 = new Highcharts.Chart({
        chart: {
            renderTo: 'genericchart4',
            zoomType: 'x',
            spacingRight: 20
        },
        title: {
            text: "Network I/O ({{timestamp|date:'d M Y'}})"
        },
        subtitle: {
            text: document.ontouchstart === undefined ?
                 'Click and drag in the plot area to zoom in' :
                 'Drag your finger over the plot to zoom in'
        },
        xAxis: {
            type: 'datetime',
//            tickInterval: 60 * 1000,
            title: {text: 'Menit'}
        },
        yAxis: {
            title: {text: 'Network I/O'},
            min: 0.0,
            startOnTick: false,
            showFirstLabel: false
        },
        tooltip: {
            formatter: function() {
                var date = new Date(this.x);
                var month = date.getUTCMonth();
                var monthNames = ["Jan", "Feb", "Mar", "Apr", "Mei", "Jun", "Jul", "Agu", "Sep", "Okt", "Nov", "Des"]; 
                var weekday = ["Minggu", "Senin", "Selasa", "Rabu", "Kamis", "Jumat", "Sabtu"];
				    return weekday[date.getDay()]+' '+monthNames[month]+' '+date.getUTCDate()+' '+date.getUTCFullYear()+': '+this.y+' Byte';
                }							
        },
        plotOptions: {
            area: {
                fillColor: {
                    linearGradient: [0, 0, 0, 10],
                    stops: [
                               [0, Highcharts.getOptions().colors[0]],
                               [1, 'rgba(0,0,0,0)']
                           ]
                },
                lineWidth: 1,
                marker: {
                    enabled: false,
                    states: {
                        hover: {
                            enabled: true,
                            radius: 5
                        }
                    }
                },
                shadow: true,
                states: {
                     hover: {
                         lineWidth: 1						
                     }
                }
            }
        },		
        series: [{
            type: 'area',
            name: 'Downstream Byte',
            color: '#F50',
            pointInterval: 60 * 1000,
            data: [{% for i in server_info %}{x: Date.UTC({{i.timestamp.year}}, {{i.timestamp.month}}-1, {{i.timestamp.day}}, {{i.timestamp.hour}}, {{i.timestamp.minute}}, {{i.timestamp.second}}), y: {{i.bw_down}} }{% if not forloop.last %},{% endif %}{% endfor %}]
        },{
            type: 'area',
            name: 'Upstream Byte',
            color: '#5F0',
            pointInterval: 60 * 1000,
            data: [{% for i in server_info %}{x: Date.UTC({{i.timestamp.year}}, {{i.timestamp.month}}-1, {{i.timestamp.day}}, {{i.timestamp.hour}}, {{i.timestamp.minute}}, {{i.timestamp.second}}), y: {{i.bw_up}} }{% if not forloop.last %},{% endif %}{% endfor %}]
        }],

    });



    Orbited.settings.port = 9000;
    TCPSocket = Orbited.TCPSocket;
    document.domain = document.domain;

// Penyiapan stomp client untuk receive/listen data dari publisher        
    stomp = new STOMPClient();
// ketika stomp object terbentuk dan terbuka set subscriber ke /monitor (bentuk path system) tanpa exchange khusus
    stomp.onopen = function() {
        stomp.subscribe('/monitor', {exchange:''});
    };
                                
//        stomp.onclose = function(code) {
//            alert("Transport closed (code: " + code + ")");
//        };

// ketika stomp connection error dia akan memberikan alert
    stomp.onerror = function(error) {
        alert("onerror: " + error);
    };
// keitka stomp connection gagal update frame dia akan memberikan alert
    stomp.onerrorframe = function(frame) {
        alert("onerrorframe: " + frame.body);
    };
//        stomp.onconnectedframe = function() {
//            stomp.send("<font color='green'>{{user}} Connected</font>",'/topic/home', {exchange:''});
//        };

// django template code jika data di variabel realtime ada atau True maka script js dibawahnya di render ke template
{% if realtime %}
// jika stomp connection menerima message dari publisher jalankan semua statement di dlm function
    stomp.onmessageframe = function(frame) {
        call_log(); //panggil function call_log() untuk update tabel info status server menggunakan ajax jika melihat isi functionnya di atas
        var txt = frame.body; // data monitoring yg di kirim updater.py (publisher) disimpan pada variabel txt
        var data = JSON.parse(frame.body); // parsing string json menjadi object json di javascript
        for (i=0; i < data.length; i++) { // loop data json untuk render data monigoting ke template
            var key = data[i]['key'];
            var timestamp = data[i]['timestamp'];
            var new_data_memory = [Date.UTC(Number(timestamp.split('-')[0]), Number(timestamp.split('-')[1])-1, Number(timestamp.split('-')[2]), Number(timestamp.split('-')[3]), Number(timestamp.split('-')[4]),Number(timestamp.split('-')[5])), Number(data[i]['memory'])];
            var new_data_v_memory = [Date.UTC(Number(timestamp.split('-')[0]), Number(timestamp.split('-')[1])-1, Number(timestamp.split('-')[2]), Number(timestamp.split('-')[3]), Number(timestamp.split('-')[4]),Number(timestamp.split('-')[5])), Number(data[i]['virtual_memory'])];
            var new_data_hdd = [Date.UTC(Number(timestamp.split('-')[0]), Number(timestamp.split('-')[1])-1, Number(timestamp.split('-')[2]), Number(timestamp.split('-')[3]), Number(timestamp.split('-')[4]),Number(timestamp.split('-')[5])), Number(data[i]['hdd'])];
            
            
            var new_data_cpu = [Date.UTC(Number(timestamp.split('-')[0]), Number(timestamp.split('-')[1])-1, Number(timestamp.split('-')[2]), Number(timestamp.split('-')[3]), Number(timestamp.split('-')[4]), Number(timestamp.split('-')[5])), Number(data[i]['cpu'])];
            var new_bw_down = [Date.UTC(Number(timestamp.split('-')[0]), Number(timestamp.split('-')[1])-1, Number(timestamp.split('-')[2]), Number(timestamp.split('-')[3]), Number(timestamp.split('-')[4]), Number(timestamp.split('-')[5])), Number(data[i]['bw_down'])];
            var new_bw_up = [Date.UTC(Number(timestamp.split('-')[0]), Number(timestamp.split('-')[1])-1, Number(timestamp.split('-')[2]), Number(timestamp.split('-')[3]), Number(timestamp.split('-')[4]), Number(timestamp.split('-')[5])), Number(data[i]['bw_up'])];

// tambah titik ke chart secara realtime sesuai data yg diterima stomp publisher
            chart1.series[0].addPoint(new_data_memory, true);
            chart1.series[1].addPoint(new_data_v_memory, true);
            chart2.series[0].addPoint(new_data_hdd, true);
            chart3.series[0].addPoint(new_data_cpu, true);
            chart4.series[0].addPoint(new_bw_down, true);
            chart4.series[1].addPoint(new_bw_up, true);
//            $('.memory.'+key).html(''+data[i]['memory']);
        }        
    };            
{% endif %}
// koneksi ke stomp server (setting ada di orbited.conf)
    stomp.connect('localhost', 54123, 'guest', 'guest');
});
</script>

<section id="home">
    <div id="from" page="main"></div>
    <h3>
    INFO DETAIL SERVER {{server.label}} (IP: {{server.ip}})
    </h3>
    <div class="calendar"></div>    
    <div class="memory {{server.key}}"></div>
    <table>
        <tr>
            <td><div id="genericchart1"></div></td>
            <td><div id="genericchart2"></div></td>    
        </tr>
        <tr>
            <td><div id="genericchart3"></div></td>
            <td><div id="genericchart4"></div></td>    
        </tr>
        <tr>
            <td colspan="2">
            <div class="ajax_table">
            
            </table>                
            </td>
        </tr>
    </table>
</section>

{% endblock %}
